.image-selection{
  img{
    max-width: 200px;
    max-height: 200px;
  }
}

.weather {
  .weather-card{
    display : inline-block;
    width:150px;
    height: 250px;
    padding : 15px;
    text-align: center;
    margin : 15px;
  }
}
